$BLACK: #282c34;
$NAVY_BLUE: #192638;
$BLUE: #1f5eff;
$LIGHT_BLUE: #61dafb;
$GRAY: #7b849c;
$LIGHT_GRAY: #b3bdd9;
$SWEET_GRAY: #dcdee2;
$RED: #f73258;
$DIRTY_WHITE: #fafbfc;
$WHITE: #ffffff;
$DEEP_ORANGE: #d84315;
