body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeeeee;
}

.ant-form-item-label label {
  font-weight: 700;
}

*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-top-right-radius: 12px;
}
*::-webkit-scrollbar-thumb {
  background: #dcdee2;
  border-radius: 12px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #7b849c;
}
